<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanglao.sys.mapper.MakeAppointmentMapper">

    <select id="queryAppointment" resultType="com.yanglao.sys.entity.MakeAppointment">
        select make_appointment.*,
        sys_user.user_name
        from make_appointment,sys_user
        <where>
            make_appointment.user_id = sys_user.user_id
            <if test="target != null and target !=''">
                and (make_appointment.user_id = #{target} or sys_user.user_name = #{target})
            </if>
            <if test="state != null and state !=''">
                and make_appointment.processing_result = #{state}
            </if>
            <if test="state == null or state ==''">
                and make_appointment.processing_result is null
            </if>
            <if test="day != ''">
                and make_appointment.appointment_time like concat('%',#{day},'%')
            </if>
        </where>
        order by initiation_time
    </select>
</mapper>
