<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanglao.sys.mapper.RoleMapper">

    <select id="queryByUserId" resultType="com.yanglao.sys.entity.Role">
        SELECT *
        FROM x_role s
        WHERE s.role_id IN (
            SELECT role_id
            FROM x_user_role s2
            WHERE s2.user_id = #{userId}
        )
    </select>
</mapper>
